<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="common/head::common_header(~{::title},~{::link})">
    <title>分配角色</title>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/doc.min.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
    </style>
</head>
<body>

<div th:replace="common/nav::common_nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="common/sidebar::common_sidebar"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">分配角色</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" th:action="@{/assign/save}" method="post" class="form-inline">
                        <input type="hidden" name="adminId" th:value="${adminId}">
                        <input type="hidden" name="pageSize" th:value="${pageSize}">
                        <input type="hidden" name="pageNum" th:value="${pageNum}">
                        <input type="hidden" name="keyword" th:value="${keyword}">
                        <div class="form-group">
                            <label>未分配角色列表</label><br>
                            <select class="form-control" multiple="" size="10" style="width:100px;overflow-y:auto;">
                                <th:block th:each="role : ${unAssignRoleList}">
                                    <option th:value="${role.id}" th:text="${role.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li id="toRightBtn" class="btn btn-default glyphicon glyphicon-chevron-right"></li>
                                <br>
                                <li id="toLeftBtn" class="btn btn-default glyphicon glyphicon-chevron-left" style="margin-top:20px;"></li>
                            </ul>
                        </div>
                        <div class="form-group" style="margin-left:40px;">
                            <label>已分配角色列表</label><br>
                            <select name="roleIdList" class="form-control" multiple="" size="10" style="width:100px;overflow-y:auto;">
                                <th:block th:each="role : ${assignedRoleList}">
                                    <option th:value="${role.id}" th:text="${role.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <button id="saveBtn" type="submit" style="width: 150px" class="btn btn-lg btn-success btn-block">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/js::common_js(~{::script})">
    <script type="text/javascript">
        $(function(){
            $("#toRightBtn").click(function(){
                $("select:eq(0)>option:selected").appendTo("select:eq(1)")
            })
            $("#toLeftBtn").click(function(){
                $("select:eq(1)>option:selected").appendTo("select:eq(0)")
            })
            $("#saveBtn").click(function(){
                $("select:eq(1)>option").prop("selected","selected")
            })
        })
    </script>
</th:block>
</body>
</html>