<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head></head>
<th:block th:fragment="modal-role-assign-auth">
    <div id="modalRoleAssignAuth" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">尚筹网系统弹窗</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <ul id="authTreeDemo" class="ztree"></ul>
                    </div>
                    <div class="modal-footer">
                        <button id="menuSaveBtn" type="button" class="btn btn-default"><i
                                class="glyphicon glyphicon-plus"></i>执行分配
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>